body {
    background-color: rgb(30, 144, 255);
    font-family: Garamond;
    color: white;
    max-width: 100%;
}

header{
    margin: 0;
    padding: 0;
}





.N1{
    box-sizing: border-box;
    height: 200px;
    width: 25%;
    margin: 0;
    padding: 0;
    float: left;
}

.N2{
text-align: center;
padding: 0;
margin: 0;

box-sizing: border-box;
width: 50%;
height: 200px;
font-size: 250%;
float: left;

}

.N3{
    box-sizing: border-box;
    height: 200px;
    width: 25%;
    margin: 0;
    padding: 0;
    float: left;

}


main{
    background-color: rgb(0, 0, 128);

    padding: 60px;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 100%;
    clear: left;

}

.S1{

    text-align: center;
    box-sizing: border-box;
    width: 50%;
    float: left;
    font-size: 200%;

}
.S2{
    text-align: right;
    box-sizing: border-box;
    margin:0;
   padding-top: 100px;

}
p:hover{
    background-color: rgb(192, 192, 192);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    border: 1px solid rgb(192, 192, 192);
    padding: 10px;
}
td{
    border: 1px solid rgb(192, 192, 192);
    padding: 10px;
}
p{
    border: 1px solid rgb(192, 192, 192);
    padding: 20px;
}